@model IEnumerable<Data.Models.Expenses>
@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="padding-top:0px">
    <div id="PartialViewListContainer">
        @Html.Partial("PartialViewList", Model)
    </div>
    <div class="col-md-4 right">
        <br />
        <a href="@Url.Action("Create", "Home" )" class="waves-effect light-blue  btn">Add New</a>
    </div>
    <!-- Modal Trigger -->
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="row" id="divListExpenses">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $(".datepicker").val(new Date());

        $(".waves-effect").click(function () {
            $('.modal').modal("open");
            $('.modal').modal({
                dismissible: true, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                in_duration: 300, // Transition in duration
                out_duration: 200, // Transition out duration
                starting_top: '4%', // Starting top style attribute
                ending_top: '10%', // Ending top style attribute
                ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.

                },
                complete: function () { } // Callback for Modal close
            });
            var MyExpenses = "@Url.Action("MyExpenses", "Home", new { area = "" })";
            $("#divListExpenses").load(MyExpenses);
        });
    });
</script>

